body {
  font-family: "Roboto", sans-serif;
}
header {
  background-color: #6495ed;
  background-image: url("./img/pattern.png");
  background-position: top;
  background-size: contain;
  background-repeat: repeat-x;
  padding: 30px 0 1px;
}

#logo {
  width: 15%;
}

.posiz {
  width: 80%;
  margin: auto;
}

.Container {
  width: 80%;
  margin: auto;
}

#Title {
  font-size: 36px;
  font-weight: bold;
}

.subject {
  color: #00bfff;
}
.write {
  color: grey;
  line-height: 12px;
}
.write.little {
  font-size: 8px;
}

#img1 {
  width: 463px;
  height: 361px;
}

.Descrizione {
  font-size: 12px;
  margin-top: 2px;
}
.evidenziato {
  background-color: rgb(250, 236, 36);
}

ul {
  margin-left: 0px;
  padding-left: 0;
  text-align: giustify;
}

table {
  width: 100%;
  border: 1px solid #6495ed;
  border-spacing: 0;
  text-align: left;
}

th,
td {
  padding: 5px;
}

.first.row {
  background-color: #00bfff;
}
.cella {
  width: 30%;
}

.tbody {
  background-color: #6495ed;
}

#Interest {
  color: lightgray;
}
.monitor {
  margin: 20px 0;
  width: 350px;
  height: 350px;
  background-image: url("./img/monitor.jpg");
  background-size: cover;
  background-position: center;
}
.Info {
  font-size: 26px;
  color: white;
  text-align: center;
  padding: 20px;
}

.monitor.graph {
  background-image: url("./img/graph.jpg");
  background-size: contain;
}
.foot {
  padding: 10px;
  font-size: 12px;
  color: grey;
  text-align: center;
  border-top: 1px solid #6495ed;
}
