body {
  font-family: "Roboto", sans-serif;
}
header {
  background-color: #6495ed;
  background-image: url("./img/pattern.png");
  background-position: top;
  background-size: contain;
  background-repeat: repeat-x;
  padding: 30px 0 1px;
}

#logo {
  width: 10%;
}

.posiz {
  width: 80%;
  margin: auto;
}

.Container {
  width: 80%;
  margin: auto;
  border: 1px solid black;
}
.subject {
  color: #00bfff;
}
.write {
  color: grey;
  line-height: 12px;
}
.write.little {
  font-size: 8px;
}

.Descrizione {
  font-size: 12px;
  margin-top: 2px;
}
.evidenziato {
  background-color: rgb(250, 236, 36);
}
